*.user
*.suo
*.vs*
.vs/
*.bak
*.bak.bak

**/bin/
**/obj/

**/packages/
**.nuget/

.env
*.config
App.settings.Development.json
secrets.json

./docker-compose.yml.local
./db_dump/


.DS_Store
Thumbs.db

**/wwwroot/Cache/