@rendermode InteractiveServer
@inject AuthStateService AuthState
@inject JwtAuthStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LangApp.Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 nav-user">
                    <span class="nav-link text-truncate" title="@AuthState.Email">@GetDisplayEmail()</span>
                </div>
                <div class="nav-item px-3">
                    <button type="button" class="nav-link btn btn-link text-start w-100" @onclick="LogoutAsync">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Odhlásit se
                    </button>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-person-lock" aria-hidden="true"></span> Přihlášení
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Registrace
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string GetDisplayEmail()
    {
        var email = AuthState.Email ?? string.Empty;
        return email.Length > 24 ? email[..21] + "..." : email;
    }

    private async Task LogoutAsync()
    {
        await AuthStateProvider.SignOutAsync();
    }
}
